@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-font: #ECEBF3;
    --color-input: #97979766;
    --color-focus-input: rgba(91, 162, 197, 0.644);
    --color-bg-body: #1e1530;
}

@layer base {
    h1 {
      @apply text-xl font-bold;
    }
    h2 {
      @apply text-xl font-bold;
    }
    h3 {
      @apply text-lg font-bold;
    }
  }

body{
    background: var(--color-bg-body);
    color: var(--color-font);
}

input{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-input);
    padding: 7px;
    border-radius: 8px;
    transition-duration: 2s;
}

input:focus{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-focus-input);
    transition-duration: 2s;
}

textarea{
    padding: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-input);
    resize: none;
    border-radius: 8px;
    transition-duration: 2s;
}

textarea:focus{
    border-color: var(--color-focus-input);
    transition-duration: 2s;
}

.taskContainer{
    grid-template-columns: 20% 50% 15% 15%;
    grid-template-rows: auto;
    grid-template-areas: "title description edit delete";
}