@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-font: #eee;
  --color-font-link: #e3e3e3;
  --color-input: #97979766;
  --color-focus-input: rgba(91, 162, 197, 0.644);
  --color-bg-body: #222;
  --color-navdash: #1a1919;
  --color-border: #3bd1e5;
}

@layer base {
  h1 {
    @apply text-xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }
}

body {
  background: var(--color-bg-body);
  color: var(--color-font);
}

input {
  border-style: solid;
  border-width: 2px;
  color: var(--color-font);
  border-color: var(--color-input);
  padding: 7px;
  border-radius: 8px;
  transition-duration: 2s;
}

input:focus {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-focus-input);
  transition-duration: 2s;
}

textarea {
  padding: 7px;
  border-style: solid;
  border-width: 2px;
  color: var(--color-font);
  border-color: var(--color-input);
  resize: none;
  border-radius: 8px;
  transition-duration: 2s;
}

textarea:focus {
  border-color: var(--color-focus-input);
  transition-duration: 2s;
}

.taskContainer {
  grid-template-columns: 20% 50% 15% 15%;
  grid-template-rows: auto;
  grid-template-areas: "title description edit delete";
  gap: 10px;
}

.taskContainerForm {
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: auto;
  grid-template-areas: "title description create";
  gap: 10px;
}


.dashboard {
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  grid-template-areas: "menu template";
}

.navDash {
  background: var(--color-navdash);
}

.navhome {
  /* From https://css.glass */
  background: rgba(86, 86, 86, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(86, 86, 86, 0.3);
  color: var(--color-border);
}